body {
    padding: 30px;
}

div.bg1 {
    background-color: #563d7c;
    height: 50px;
    border: 1px solid #fff;
}

div.bg2 {
    background-color: #41a156;
    height: 50px;
    border: 1px solid #fff;
}

.branco {
    color: #fff;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

div {
    margin-bottom: 10px;
}

.card {
    /* background-color: rgb(250, 223, 182); */
}

.card-body {
    /* background-color: rgb(243, 161, 53); */
    border: 1px solid black;
    margin: 5px;
    border-radius: 2px;
}

.colunas {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.colunas .card-body {
    height: 200px;
}

.row {
    border-bottom: 5px solid rgb(255, 166, 0);
    padding-bottom: 5px;
}

.centralizado {
    display: flex;
    justify-content: center;
}

.card-img-opacity {
    opacity: 50%;
}

.flex {
    display: flex;
    margin-left: 10px;
}

.componente{
    margin-left: 5px;
}

#componentes a{
    width: 100%;
}

.bordas{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}